<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/common">

<div class="centerView" data-type="widgets" th:fragment="content">
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper" id="user_create">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">修改密码</div>
                        </div>
                        <div class="widget-body am-fr">

                            <form class="am-form tpl-form-border-form tpl-form-border-br">
                                <div class="am-form-group">
                                    <label for="oldpassword" class="am-u-sm-3 am-form-label">旧密码</label>
                                    <div class="am-u-sm-6">
                                        <input type="password" class="tpl-form-input" id="oldpassword" placeholder="请输入旧密码">
                                        <small>此为当前正在使用的密码</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="newpassword" class="am-u-sm-3 am-form-label">新密码</label>
                                    <div class="am-u-sm-6">
                                        <input type="password" class="tpl-form-input" id="newpassword" placeholder="请输入新密码">
                                        <small>此为需要改成的新的密码</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="repeatpassword" class="am-u-sm-3 am-form-label">重复一次新密码</label>
                                    <div class="am-u-sm-6">
                                        <input type="password" class="tpl-form-input" id="repeatpassword" placeholder="请再输入一遍新密码">
                                        <small>此为再输入一遍新的密码，防止误操作</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success "
                                               onclick="changePassWord()" >提交
                                        </button>
                                        <a href="userinfo/userinfo" type="button"
                                           class="am-btn am-btn-primary tpl-btn-bg-color-success ">返回
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/common.js}"></script>
    <script>
        $(document).ready(function () {
            $('#userinfoA').attr('class', 'active');
        });
    </script>
</div>

</html>