<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/common">

<div class="centerView" data-type="index" th:fragment="content">
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <!---
        <div class="row  am-cf">

            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">月度财务收支计划</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <div class="am-fl">
                            <div class="widget-fluctuation-period-text">
                                ￥61746.45
                                <button class="widget-fluctuation-tpl-btn">
                                    <i class="am-icon-calendar"></i>
                                    更多月份
                                </button>
                            </div>
                        </div>
                        <div class="am-fr am-cf">
                            <div class="widget-fluctuation-description-amount text-success" am-cf>
                                +￥30420.56

                            </div>
                            <div class="widget-fluctuation-description-text am-text-right">
                                8月份收入
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                <div class="widget widget-primary am-cf">
                    <div class="widget-statistic-header">
                        本季度利润
                    </div>
                    <div class="widget-statistic-body">
                        <div class="widget-statistic-value">
                            ￥27,294
                        </div>
                        <div class="widget-statistic-description">
                            本季度比去年多收入 <strong>2593元</strong> 人民币
                        </div>
                        <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                <div class="widget widget-purple am-cf">
                    <div class="widget-statistic-header">
                        本季度利润
                    </div>
                    <div class="widget-statistic-body">
                        <div class="widget-statistic-value">
                            ￥27,294
                        </div>
                        <div class="widget-statistic-description">
                            本季度比去年多收入 <strong>2593元</strong> 人民币
                        </div>
                        <span class="widget-statistic-icon am-icon-support"></span>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="row am-cf">
            <div class="am-u-sm-12 am-u-md-8">
                <div class="widget am-cf am-text-center">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">
                            <span id="today"></span>
                        </div>
                    </div>
                    <div class="widget-body-md widget-body am-fr">
                        <div class="clock" style="margin:2em;"></div>
                    </div>
                </div>
            </div>

            <div class="am-u-sm-12 am-u-md-4">
                <div class="widget am-cf am-text-center">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">天气情况</div>
                    </div>
                    <div class="widget-body widget-body-md am-fr">
                        <!-- 2345天气http://tianqi.2345.com/plugin/setting.htm?style=classicBig2day -->
                        <iframe style="margin-top: 20px" allowtransparency="true" frameborder="0" width="290"
                                height="96" scrolling="no"
                                src="//tianqi.2345.com/plugin/widget/index.htm?s=2&z=1&t=0&v=0&d=2&bd=0&k=&f=0080c0&ltf=009944&htf=cc0000&q=1&e=0&a=1&c=58362&w=290&h=96&align=left"></iframe>
                    </div>
                </div>
            </div>
        </div>


        <div class="row am-cf">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
                <div class="tpl-user-card am-text-center widget-body-lg">
                    <div class="tpl-user-card-title">
                        月度最佳员工
                    </div>
                    <img class="achievement-image" src="assets/img/user07.png" alt="">
                    <div class="achievement-subheading">
                        禁言小张
                    </div>
                    <div class="achievement-description">
                        再接再厉，勇创新高！
                    </div>
                </div>
            </div>

            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg">
                <div class="widget am-cf widget-body-lg">
                    <div class="widget-body  am-fr">
                        <div class="am-scrollable-horizontal ">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">公告板</div>
                            </div>
                            <div class="widget-body widget-body-md am-fr">
                                <p>公告的具体内容显示在这里 只显示本人最新的那一条</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg">
                <div class="widget am-cf widget-body-lg">
                    <div class="widget-body  am-fr">
                        <div class="am-scrollable-horizontal ">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">站内信</div>
                            </div>
                            <div class="widget-body widget-body-md am-fr">
                                <p>站内信的具体内容显示在这里 只显示本人最新的那一条</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/index.js}"></script>
<script>
    $(document).ready(function() {
        $('#indexA').attr('class','active');
        //翻页钟插件初始化
        var clock = $('.clock').FlipClock({
            clockFace: 'TwentyFourHourClock'
        });
        $("#today").text(getCurrentDateTime() + " 农历 " + showCal());
    });
</script>
</div>

</html>