<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/common">

<div class="centerView" data-type="index" th:fragment="content">
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper" id="logs">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">系统日志</div>
                        </div>

                        <div class="am-g error-log">
                            <div class="am-u-sm-12 am-u-sm-centered" style="margin: 10px">
                                <select data-am-selected="{searchBox: 1,btnWidth: '300px'}" style="display: none;" id="fileName">
                                    <option v-for="fileName in fileNames">
                                        {{ fileNames }}
                                    </option>
                                </select>
                                <pre class="am-pre-scrollable" id="logView"></pre>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/logs.js(path=${contextPath})}"></script>
    <script>
        $(document).ready(function () {
            $('#logs').attr('class', 'active');
        });
    </script>
</div>
</html>