<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/common">

<div class="centerView" data-type="widgets" th:fragment="content">
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="row">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <div class="widget am-cf">
                                    <div class="widget-head am-cf">
                                        <div class="widget-title am-fl">发送公告</div>
                                    </div>
                                    <div class="widget-body am-fr">
                                        <form class="am-form tpl-form-border-form tpl-form-border-br">
                                            <div class="am-form-group">
                                                <label for="user-name" class="am-u-sm-3 am-form-label">标题 <span
                                                        class="tpl-form-line-small-title">Title</span></label>
                                                <div class="am-u-sm-9">
                                                    <input type="text" class="tpl-form-input" id="user-name"
                                                           placeholder="请输入标题文字">
                                                    <small>请填写标题文字10-20字左右。</small>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <label for="user-intro" class="am-u-sm-3 am-form-label">文章内容</label>
                                                <div class="am-u-sm-9">
                                                    <textarea class="" rows="16" id="user-intro"
                                                              placeholder="请输入文章内容"></textarea>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <div class="am-u-sm-9 am-u-sm-push-3">
                                                    <button  type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " v-on:click="createUser">提交
                                                    </button>
                                                    <a href="#" onclick="javascript :history.back(-1);" type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">返回
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#noticeA').attr('class', 'active');
        });
    </script>
</div>
</html>