<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/common">

<div class="centerView" data-type="widgets" th:fragment="content">
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="row">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <div class="widget am-cf">
                                    <div class="widget-head am-cf">
                                        <div class="widget-title am-fl">发送公告</div>
                                    </div>
                                    <div class="widget-body am-fr">
                                        <form class="am-form tpl-form-border-form tpl-form-border-br">
                                            <div class="am-form-group">
                                                <label for="noticeTile" class="am-u-sm-3 am-form-label">标题 <span
                                                        class="tpl-form-line-small-title">Title</span></label>
                                                <div class="am-u-sm-9">
                                                    <input type="text" class="tpl-form-input" id="noticeTile"
                                                           placeholder="请输入公告标题">
                                                    <small>请填写公告标题 最多不要超过20字</small>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <label for="noticeMain" class="am-u-sm-3 am-form-label">公告内容</label>
                                                <div class="am-u-sm-9">
                                                    <textarea class="" rows="16" id="noticeMain"
                                                              placeholder="请输入公告内容"></textarea>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <div class="am-u-sm-9 am-u-sm-push-3">
                                                    <button  type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success "
                                                             onclick="sendNotice()">提交
                                                    </button>
                                                    <a href="notice/notice" type="button" style="margin-left: 15px"
                                                       class="am-btn am-btn-primary tpl-btn-bg-color-success ">返回</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/notice_create.js}"></script>
    <script>
        $(document).ready(function () {
            $('#noticeA').attr('class', 'active');
        });
    </script>
</div>
</html>