<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/common">


<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<title>OA系统</title>-->
    <!--<meta name="description" content="这是一个 index 页面">-->
    <!--<meta name="keywords" content="index">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<meta name="renderer" content="webkit">-->
    <!--<meta http-equiv="Cache-Control" content="no-siteapp"/>-->
    <!--<link rel="icon" type="image/png" href="assets/i/favicon.png">-->
    <!--<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">-->
    <!--<meta name="apple-mobile-web-app-title" content="Amaze UI"/>-->
    <!--<script src="assets/js/echarts.min.js"></script>-->
    <!--<link rel="stylesheet" href="assets/css/amazeui.min.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/amazeui.datatables.min.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/app.css">-->
    <!--<script src="assets/js/jquery.min.js"></script>-->

<!--</head>-->

<body data-type="widgets" th:fragment="content">
<script src="/assets/js/theme.js"></script>


<!-- 内容区域 -->
<div class="tpl-content-wrapper" id="user_create">
    <div class="row-content am-cf">


        <div class="row">

            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">创建员工</div>
                        <!--<div class="widget-function am-fr">-->
                            <!--<a href="javascript:;" class="am-icon-cog"></a>-->
                        <!--</div>-->
                    </div>
                    <div class="widget-body am-fr">

                        <form class="am-form tpl-form-border-form tpl-form-border-br">
                            <div class="am-form-group">
                                <label for="username" class="am-u-sm-3 am-form-label">用户名</label>
                                <div class="am-u-sm-9">
                                    <input type="text" class="tpl-form-input" id="username" placeholder="请输入用户名">
                                    <small>此为登录名，请输入6-20字符</small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="realname" class="am-u-sm-3 am-form-label">员工姓名 </label>
                                <div class="am-u-sm-9">
                                    <input type="text" class="tpl-form-input" id="realname" placeholder="请输入员工姓名">
                                    <small>填写员工真实姓名</small>
                                </div>
                            </div>



                            <div class="am-form-group">
                                <label for="department" class="am-u-sm-3 am-form-label">部门 </label>
                                <div class="am-u-sm-9">
                                    <select data-am-selected="{searchBox: 1}" style="display: none;" id="department" >
                                        <option v-for="department in departments" v-bind:value="department.id">{{department.department}}</option>
                                    </select>

                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="position" class="am-u-sm-3 am-form-label">职位 </label>
                                <div class="am-u-sm-9">
                                    <select data-am-selected="{searchBox: 1}" style="display: none;" id="position">
                                        <option v-for="position in positions" v-bind:value="position.id">{{position.position}}</option>
                                    </select>

                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button  type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " v-on:click="createUser">提交
                                    </button>
                                    <a href="#" onclick="javascript :history.back(-1);" type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">返回
                                    </a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/amazeui.datatables.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/vue.js"></script>
<script src="/js/user_create.js"></script>
<script>
    $(document).ready(function () {
        $('#userinfoA').attr('class', 'active');
    });
</script>
</body>

</html>